// Base styles
@import url('https://fonts.googleapis.com/css?family=Roboto:100,400&display=swap');

html {
    background-color: $color-black;
}

body {
    font-family: 'Roboto', Helvetica, sans-serif;
    font-weight: 100;
    font-size: calc(14px + 0.5vh);
    line-height: 1.7;
    margin: 0;
    padding: 0;
    color: $color-text;
    background-color: $color-black;
}

img {
    max-width: 100%;
}
main {
    padding-top: 5em;
}

section {
    padding: 5em 0;
}

.container {
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 5%;
}
